<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428062798858-s4fplatq9k0e6q9t4h2nsqdpif5p5d47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428062798858-s4fplatq9k0e6q9t4h2nsqdpif5p5d47</string>
	<key>API_KEY</key>
	<string>AIzaSyBpLbuf5ffJpKXEJReLvBj1kSJJfU9jPfs</string>
	<key>GCM_SENDER_ID</key>
	<string>428062798858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cards</string>
	<key>PROJECT_ID</key>
	<string>cards1-33dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>cards1-33dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428062798858:ios:67b1d60d659845ef449bf3</string>
</dict>
</plist>